$avatar-image-width: 14rem;
$primary-theme-color: #32353f;
$highlighted-color: #2ca3e8;
:export {
    avatar-image-width: $avatar-image-width;
    primary-theme-color: $primary-theme-color;
    highlighted-color: $highlighted-color;
}
