.teams {
    &:before {
        height: 10rem;
        display: block;
        content: '';
    }
    &:after{
        height: 2.5rem;
        display: block;
        content: '';
    }

    display: flex;
    flex-direction: column;
}

.no-result{
    font-size: xx-large;
    margin: 0 auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 20rem;
    transform: translateX(-50%);
}
