$employee-item-padding: 1.2rem;
.employee-item {
    padding: $employee-item-padding;
    background: white;
    font-size: 1.4rem;
    border-radius: 1.6rem;
    position: relative;
    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }
    &.highlight {
        background: #2ca3e8;
    }
}

.avatar-icon-container {
    width: 14rem;
    height: 14rem;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}

.icon {
    color: #4db66b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.avatar {
    width: 14rem;
    height: 14rem;
    border-radius: 0.8rem;
    object-fit: cover;
    object-position: 50% 0;
    margin-bottom: 1rem;
}

.name {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.92rem;
    text-align: left;
    margin-bottom: 0.8rem;
    &.highlight {
        color: #ffffff;
    }
}

.pill {
    background-color: #f5f7fa;
    border-radius: 0.4rem;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    overflow: hidden;
    &.title {
        padding: 0.6rem 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.status-list {
    list-style: none;
    position: absolute;
    top: calc($employee-item-padding + 0.8rem);
    left: calc($employee-item-padding + 0.8rem);
    flex-wrap: wrap;
    gap: 0.4rem 0.8rem;
    margin: 0;
    padding: 0;
    display: flex;
    width: calc(100% - $employee-item-padding - $employee-item-padding);
}

.role {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: left;
}

.multiline {
    display: table-caption;
}

.name-and-role-container {
    width: 14rem;
}
